@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
  --background: 200.6 100% 95%;
  --backgroundLight: 200.6 100% 95%;
  --foreground: 200.6 5% 3%;
  --card: 200.6 50% 90%;
  --card-foreground: 200.6 5% 10%;
  --popover: 200.6 100% 95%;
  --popover-foreground: 200.6 100% 3%;
  --primary: 200.6 84.3% 10%;
  --primary-foreground: 0 0% 100%;
  --secondary: 200.6 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 140.6 30% 85%;
  --muted-foreground: 200.6 5% 35%;
  --accent: 140.6 30% 80%;
  --accent-foreground: 200.6 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 200.6 5% 90%;
  --border: 200.6 30% 50%;
  --input: 200.6 30% 18%;
  --ring: 200.6 84.3% 10%;
  --radius: 1rem;
}
.dark  {
  --background: 200.6 50% 5%;
  --backgroundLight: 200.6 50% 5%;
  --foreground: 200.6 5% 90%;
  --card: 200.6 50% 3%;
  --card-foreground: 200.6 5% 90%;
  --popover: 200.6 50% 5%;
  --popover-foreground: 200.6 5% 90%;
  --primary: 200.6 84.3% 10%;
  --primary-foreground: 0 0% 100%;
  --secondary: 200.6 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 200.6 30% 20%;
  --muted-foreground: 180.6 30% 60%;
  --accent: 200.6 30% 15%;
  --accent-foreground: 180.6 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 200.6 5% 90%;
  --border: 200.6 30% 18%;
  --input: 200.6 30% 18%;
  --ring: 200.6 84.3% 10%;
  --radius: 1rem;
}
